.flexbox-container {
    display: flex;
}
.class-div {
    border: 2px solid black;
    padding: 2px;
}
.cropped {
    width: 80px;
    height: 100px;
    overflow: hidden;
}
.cropped img {
    width: 640px;
    height: 480px;
    margin: -213px 0px 0px -276px;
}